
.DS_Store
icons/.DS_Store
icons/.DS_Store
icons/.DS_Store
_book/.gitattributes
_book/.travis.yml
_book/Universal/xosi.md
_book/Universal/vbios.md
_book/Universal/spoof.html
_book/Universal/smbus.html
_book/Universal/plug.html
_book/Universal/nvram.html
_book/Universal/irq.html
_book/Universal/awac.html
_book/styles/website.css
_book/ssdt-long.html
_book/ssdt-easy.html
_book/Manual/dump.html
_book/Manual/compile.html
_book/Laptops/trackpad.html
_book/Laptops/laptop-ec.html
_book/Laptops/laptop-disable.html
_book/Laptops/backlight.html
_book/index.html
_book/images/README-md/acpi-logo.png
_book/icons/favicon.ico
_book/icons/apple-touch-icon-precomposed-152.png
_book/gitbook/theme.js
_book/gitbook/style.css
_book/gitbook/images/favicon.ico
_book/gitbook/images/apple-touch-icon-precomposed-152.png
_book/gitbook/gitbook.js
_book/gitbook/gitbook-plugin-sharing/buttons.js
_book/gitbook/gitbook-plugin-livereload/plugin.js
_book/gitbook/gitbook-plugin-highlight/website.css
_book/gitbook/gitbook-plugin-highlight/ebook.css
_book/gitbook/gitbook-plugin-fontsettings/website.css
_book/gitbook/gitbook-plugin-fontsettings/fontsettings.js
_book/gitbook/fonts/fontawesome/FontAwesome.otf
_book/gitbook/fonts/fontawesome/fontawesome-webfont.woff2
_book/gitbook/fonts/fontawesome/fontawesome-webfont.woff
_book/gitbook/fonts/fontawesome/fontawesome-webfont.ttf
_book/gitbook/fonts/fontawesome/fontawesome-webfont.svg
_book/gitbook/fonts/fontawesome/fontawesome-webfont.eot
_book/extra-files/SSDT-PNLF.aml
_book/extra-files/SSDT-NoHybGfx.dsl.zip
_book/extra-files/SSDT-NoHybGfx.dsl
_book/extra-files/SSDT-GPU-SPOOF.dsl.zip
_book/extra-files/SSDT-GPU-SPOOF.dsl
_book/extra-files/SSDT-GPU-DISABLE.dsl.zip
_book/extra-files/SSDT-GPU-DISABLE.dsl
_book/extra-files/SSDT-GPI0.dsl.zip
_book/extra-files/SSDT-GPI0.dsl
_book/extra-files/SSDT-dGPU-Off.dsl.zip
_book/extra-files/SSDT-dGPU-Off.dsl
_book/Desktops/desktop-ec.html
_book/Desktops/desktop-disable.html
_book/cleanup.html
